In [9]:
# reconizing activities based on sensory data
import pandas as pd
import os

DATA_PATH = './datasets/Activity Recognition from Single Chest-Mounted Accelerometer'
def load_data_for_person(person_id):
    csv_path = os.path.join(DATA_PATH, (person_id +'.csv'))
    X= pd.read_csv(csv_path, header=None)
    X.rename(columns={0:"SeqNum", 1:"X", 2: "Y", 3:"Z", 4:"Label"}, inplace=True)
    return X

In [10]:
def load_all_data():
    all = []
    for person_id in range(1,16):
        csv_path = os.path.join(DATA_PATH, (str(person_id) + ".csv"))
        temp = pd.read_csv(csv_path, header=None)
        temp['person_id'] = person_id
        all.append(temp)
    X = pd.concat(all)
    X.rename(columns={0:"SeqNum", 1:"X", 2: "Y", 3:"Z", 4:"Label"}, inplace=True)
    return X

In [11]:
all = load_all_data()

In [12]:
all

          SeqNum     X     Y     Z  Label  person_id
0            0.0  1502  2215  2153      1          1
1            1.0  1667  2072  2047      1          1
2            2.0  1611  1957  1906      1          1
3            3.0  1601  1939  1831      1          1
4            4.0  1643  1965  1879      1          1
...          ...   ...   ...   ...    ...        ...
103496  103500.0  2043  2539  1990      7         15
103497  103500.0  2036  2508  1976      7         15
103498  103500.0  2025  2520  1991      7         15
103499  103500.0  2009  2546  2007      7         15
103500  103500.0  1999  2532  1996      0         15

[1926896 rows x 6 columns]

In [13]:
all.head()

   SeqNum     X     Y     Z  Label  person_id
0     0.0  1502  2215  2153      1          1
1     1.0  1667  2072  2047      1          1
2     2.0  1611  1957  1906      1          1
3     3.0  1601  1939  1831      1          1
4     4.0  1643  1965  1879      1          1

In [14]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1926896 entries, 0 to 103500
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   SeqNum     float64
 1   X          int64
 2   Y          int64
 3   Z          int64
 4   Label      int64
 5   person_id  int64
dtypes: float64(1), int64(5)
memory usage: 102.9 MB

In [15]:
# todo: shuffle rows of dataset
# todo: split dataset into training and test data
all.sample(frac=1).reset_index(drop=True)

           SeqNum     X     Y     Z  Label  person_id
0         94396.0  1865  2375  1991      7          1
1         75000.0  2029  2643  2055      4         10
2         48918.0  2056  2300  1819      4          7
3        160590.0  1894  2377  2076      7          1
4         51812.0  1997  2347  2005      1         11
...           ...   ...   ...   ...    ...        ...
1926891   33350.0  1971  2333  2053      1         12
1926892  147050.0  2042  2383  1885      7          7
1926893   32324.0  1973  2353  1989      1         11
1926894  141680.0  1928  2389  1989      7          1
1926895   47998.0  2052  2321  1912      3          6

[1926896 rows x 6 columns]

In [16]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(all, test_size=0.2, random_state= 42)

In [17]:
train_set.head()

          SeqNum     X     Y     Z  Label  person_id
89568    89568.0  2034  2342  2017      7         11
77545    77545.0  1693  2254  1891      4          8
72000    72000.0  1998  2359  1986      5          7
109376  109380.0  2096  2356  1964      7          2
80560    80560.0  2109  2365  2011      3          4