In [65]:
# reconizing activities based on sensory data
import pandas as pd
import os

DATA_PATH = 'datasets/Activity Recognition from Single Chest-Mounted Accelerometer'
def load_data_for_person(person_id):
    csv_path = os.path.join(DATA_PATH, (person_id +'.csv'))
    X= pd.read_csv(csv_path, header=None)
    X.rename(columns={0:"SeqNum", 1:"X", 2: "Y", 3:"Z", 4:"Label"}, inplace=True)
    return X

In [89]:
def load_all_data():
    all = []
    for person_id in range(1,16):
        csv_path = os.path.join(DATA_PATH, (str(person_id) + ".csv"))
        temp = pd.read_csv(csv_path, header=None)
        temp['person_id'] = person_id
        all.append(temp)
    X = pd.concat(all)
    X.rename(columns={0:"SeqNum", 1:"X", 2: "Y", 3:"Z", 4:"Label"}, inplace=True)
    return X

In [90]:
all = load_all_data()

In [91]:
all

          SeqNum     X     Y     Z  Label  person_id
0            0.0  1502  2215  2153      1          1
1            1.0  1667  2072  2047      1          1
2            2.0  1611  1957  1906      1          1
3            3.0  1601  1939  1831      1          1
4            4.0  1643  1965  1879      1          1
...          ...   ...   ...   ...    ...        ...
103496  103500.0  2043  2539  1990      7         15
103497  103500.0  2036  2508  1976      7         15
103498  103500.0  2025  2520  1991      7         15
103499  103500.0  2009  2546  2007      7         15
103500  103500.0  1999  2532  1996      0         15

[1926896 rows x 6 columns]

In [66]:
A = load_data_for_person("1")

In [67]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162501 entries, 0 to 162500
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   SeqNum  162501 non-null  float64
 1   X       162501 non-null  int64
 2   Y       162501 non-null  int64
 3   Z       162501 non-null  int64
 4   Label   162501 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 6.2 MB

In [70]:
A.head()

   SeqNum     X     Y     Z  Label
0     0.0  1502  2215  2153      1
1     1.0  1667  2072  2047      1
2     2.0  1611  1957  1906      1
3     3.0  1601  1939  1831      1
4     4.0  1643  1965  1879      1

In [73]:
# todo: add data points from all 15 subjects
# todo: add person_id column to data
# todo: shuffle rows of dataset
# todo: split dataset into training and test data